<a href="https://colab.research.google.com/github/PKimeli/WK4-IP/blob/main/moringa_data_science_prep_w4_independent_project_2020_11_peter_kimeli_notebook_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.0 Importing important libraries**

In [1]:
#importing pandas
import pandas as pd

#import numpy
import numpy as np

#import datetime
import datetime
 
 
import time

from datetime import datetime , timedelta

**1.1 Loading the autolib dataset**

In [4]:
#loading the autolib.csv
auto= pd.read_csv ('Autolib_dataset.csv')
print(auto)

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

**1.2 Previewing the the dataset**

In [5]:
auto.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

**1.3 Getting information about the dataset**

In [6]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

**1.4 Cleaning the data to allow some analysis**

In [7]:
#removing unwanted columns
auto=auto.drop(['Displayed comment','Geo point','Scheduled at','Status','Address','Charging Status','Charge Slots','ID'],axis=1)
 
 #merging year, month and day as date.
auto['dateint'] =auto['year'].astype(str) + auto['month'].astype(str).str.zfill(2) + auto['day'].astype(str).str.zfill(2)
auto['date']=pd.to_datetime(auto['dateint'])

# dropping the columns that are not reqiured
auto=auto.drop(['month','year','day','minute','dateint'],axis=1)

#previewing the cleaned dataset
auto.head()

   Cars  Bluecar counter  Utilib counter  ...  Subscription status hour       date
0     0                0               0  ...          nonexistent   11 2018-04-08
1     6                6               0  ...          nonexistent    7 2018-04-06
2     3                3               0  ...          nonexistent   20 2018-04-03
3     3                3               1  ...          nonexistent    4 2018-04-04
4     3                3               0  ...          nonexistent   17 2018-04-08

[5 rows x 14 columns]

**1.5 Checking for null values**

In [9]:
auto.isnull().sum()   #no null values

Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
City                   0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Subscription status    0
hour                   0
date                   0
dtype: int64

**1.6 Checking for duplicates in the dataset**

In [10]:
#looking for duplicates
auto.duplicated() #cant pick much because this is a large dataset

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [11]:
#dropping the possible uplicates in the dataset
auto.drop_duplicates()

      Cars  Bluecar counter  ...  hour       date
0        0                0  ...    11 2018-04-08
1        6                6  ...     7 2018-04-06
2        3                3  ...    20 2018-04-03
3        3                3  ...     4 2018-04-04
4        3                3  ...    17 2018-04-08
...    ...              ...  ...   ...        ...
4995     2                2  ...    11 2018-04-06
4996     4                4  ...    16 2018-04-04
4997     1                1  ...     7 2018-04-01
4998     2                2  ...    17 2018-04-04
4999     4                4  ...    10 2018-04-08

[4974 rows x 14 columns]

**1.7 To ease analysis i will change the variable names to a format i like**

In [12]:
auto=auto.rename(columns={'Cars':'cars','Bluecar counter':'bluecar','Utilib counter':'utilib','Utilib 1.4 counter':'utilib 1.4',
                         'City':'city', 'Kind':'kind', 'Postal code': 'postalcode', 'Public name':'publicname','Rental status':'rentalstatus',
                         'Slots':'slots', 'Station type':'stationtype', 'Subscription status': 'subscrstatus', 
                          })
auto.head()

   cars  bluecar  utilib  utilib 1.4  ... stationtype subscrstatus  hour       date
0     0        0       0           0  ...     station  nonexistent    11 2018-04-08
1     6        6       0           0  ...     station  nonexistent     7 2018-04-06
2     3        3       0           2  ...     station  nonexistent    20 2018-04-03
3     3        3       1           0  ...     station  nonexistent     4 2018-04-04
4     3        3       0           0  ...     station  nonexistent    17 2018-04-08

[5 rows x 14 columns]

**1.8 Assesment questions**

**a. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018**

In [14]:
paris=auto[(auto['city']== 'Paris') & (auto['date']>='2018-04-01') & (auto['date']<='2018-04-30') & (auto['rentalstatus']=='operational')]
tables=pd.pivot_table(paris,values=['bluecar','utilib','utilib 1.4'],index=['hour'],aggfunc=np.sum)
tables
sum_cars = tables['bluecar'] +tables['utilib 1.4'] + tables['utilib']
tables['total_cars'] = sum_cars
tables.sort_values(by='total_cars',ascending=0).head(2)

#21hrs and 06hrs is the most popular

      bluecar  utilib  utilib 1.4  total_cars
hour
21        268       8          20         296
6         260      13          15         288

**b. What is the most popular hour for returning cars?**

In [16]:
car_return = pd.pivot_table(auto,values=['slots'],index=['hour'],aggfunc=np.sum)
car_return.sort_values(by='slots',ascending=0).head(3)

#14 hrs is the most popular for returning cars

      slots
hour
14      441
2       440
21      438

**c. What station is the most popular? Overall? At the most popular picking hour?**

In [17]:
##Overall?
auto['total_resources']=auto['bluecar']+auto['utilib']+auto['utilib 1.4']
auto.pivot_table(values=['total_resources'],index=['publicname'],aggfunc=np.sum).sort_values(by='total_resources',ascending=0).head(3)
# Station Fontenay-aux-Roses/Robert Marchand/32 and Paris/Porte de Montrouge/8 were the most popular

                                       total_resources
publicname
Fontenay-aux-Roses/Robert Marchand/32               50
Paris/Porte de Montrouge/8                          50
Le Plessis-Robinson/GalilÃ©e/16                     49

In [22]:
##At the most popular picking hour?
# determining the most popular station at the most popular picking hour.
data=auto[auto['rentalstatus']=='operational']
data
pop=pd.pivot_table(data,values=['bluecar','utilib','utilib 1.4'],index=['hour'],aggfunc=np.sum)
pop
t=pop['bluecar']+pop['utilib'] +pop['utilib 1.4']
pop['total'] = t
pop
pop.sort_values(by='total',ascending=0).head(3)

#6hr was the most popular

      bluecar  utilib  utilib 1.4  total
hour
6         608      15          31    654
5         552      17          34    603
7         555      17          29    601

In [23]:
#determing the most popular station at the popular picking hour
station_hour=data[data['hour']==6]
public=pd.pivot_table(station_hour,values=['bluecar','utilib','utilib 1.4'],index=['publicname','stationtype'],aggfunc=np.sum)
tot=public['bluecar']+public['utilib 1.4']+public['utilib']
public['total']=tot
public.sort_values(by='total',ascending=0).head(3)
#Garches/Raymond PoincarÃ©/102 and  Le Plessis-Robinson/ChaussÃ©e de l'Etang/109 were the most popular station at the popular picking hour

                                                          bluecar  ...  total
publicname                                   stationtype           ...
Garches/Raymond PoincarÃ©/102                station           11  ...     11
Clichy-la-Garenne/Jean JaureÌs/122          station           11  ...     11
Le Plessis-Robinson/ChaussÃ©e de l'Etang/109 station            9  ...      9

[3 rows x 4 columns]

**d. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?**

In [24]:
to=auto['utilib']+auto['utilib 1.4']
auto['total_utilibs']=to
auto.pivot_table(values=['total_utilibs'],index=['postalcode','publicname'],aggfunc=np.sum).sort_values(by='total_utilibs',ascending =0).head(3)
#the resulsts are different for utilib cars

                                       total_utilibs
postalcode publicname
92310      SÃ¨vres/Grande Rue/123                 12
75014      Paris/Porte de Montrouge/8             11
75017      Paris/Mac Mahon/5                       8